{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "func-names": 0,
    "prefer-spread": 0,
    "prefer-rest-params": 0,
    "prefer-destructuring" : 0,
    "no-underscore-dangle": 0,
    "no-param-reassign": 0,
    "no-alert": 0,
    "no-console": 0,
    "no-continue": 0,
    "class-methods-use-this": 0
  },
  "globals": {
    "topojson": true,
    "d3": true
  }
}